<div class="container" style="padding-top: 7em">
  <div class="booking-container">
    <div class="info-container">
      <div class="booking-text text-center">
        <h4><%= "Your 'click & meet' with #{@booking.shop.name} is confirmed" %> </h4>
        <p>
          <i class="fa fa-calendar"></i>
          <%= @booking.date.strftime("%a %d %b") %>
        </p>
        <p>
          <i class="fa fa-clock "></i>
          <%= @booking.date.strftime("%H:%M") %>
        </p>
        <p>
          Do not forget to come with an FFP2 mask and please follow the hygiene concept. <br>
          Stay safe!
        </p>
      </div>
    </div>
  </div>
</div>
