<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Appointments</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Design</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Appointer GmbH</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem mollitia porro illum eius fugiat iure consectetur soluta nulla, itaque eaque ad voluptas magnam, quo ut, quidem eum. Adipisci, officiis cumque..</p>
        </div>
        <div class="col item social">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-snapchat"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">Appointer © 2021</p>
    </div>
  </footer>
</div>
