mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


.map-show {
  width: 50%;
  // height: 480px;
}


.shop-show-map {
  width: 100%;
  padding-bottom: 7em;
}

.shop-show-map .map-show {
  margin-top: 2em;
  width: 95%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}
